@import "tailwindcss";

:root {
  --background: theme(colors.background); /* light green background */
  --foreground: theme(colors.foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: theme(fontFamily.sans);
  --font-mono: theme(fontFamily.mono);
}



body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
